/* styles1.css */

/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Centering container */
.container {
    width: 100%;
    max-width: 800px; /* Adjust as needed */
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

/* Styling header */
h1 {
    margin-bottom: 20px;
    font-size: 2rem;
}

/* Styling search bar */
.search-bar {
    margin-bottom: 20px;
}

.search-input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Styling product */
.product {
    margin-bottom: 40px;
}
/* Resetting default margin and padding */
.rating {
    display: inline-block;
    unicode-bidi: bidi-override;
    direction: rtl;
}

.rating > input {
    display: none;
}

.rating > label {
    float: right;
    color: #ccc;
}

.rating > label:before {
    content: "\2605";
    margin-right: 5px;
    font-size: 1.5em;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #ffc107;
}


.product img {
    width: 100%;
    max-width: 200px; /* Adjust as needed */
    height: auto;
    margin-bottom: 10px;
}

.product h1, .product h2 {
    margin-bottom: 10px;
}

.product p {
    margin-bottom: 20px;
    font-size: 0.9rem;
}

/* Styling review form */
.review-form {
    text-align: left;
    margin-top: 20px;
}

.review-form h3 {
    margin-bottom: 10px;
}

.review-form label {
    display: block;
    margin-bottom: 5px;
}

.review-form input[type="number"],
.review-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.review-form button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.review-form button:hover {
    background-color: #0056b3;
}
