body {
    font-family: Arial, sans-serif;
    background-color: #321818b6;
    margin: 0;
    padding: 20px;
    background-image: url();
    background-image:auto
    ;
    /* background-image : url("/language_pages/images/bg2.jpeg") ; */

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    
    width: 80%;
    align-items: center;
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 40px;
    background-image : url("/language_pages/images/bg2.jpeg") ;
    background-color: rgba(64, 63, 62, 0.666);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #f9fbfd;
}

.form-group {
    margin-bottom: 20px;
    color: #f9fbfd;
}

label {
    font-weight: bold;
    font-size: large;
    color: #f9fbfd;

}

input[type="checkbox"] {
    margin-right: 10px;
    padding: 10px;
    
}

.text {
    margin-bottom: 20px;
    font-size: large;
    
}
input[type=text]{
    width: 250px;
    height: 20px;
    border-radius: 5%;
    border-color: #141311;
}

.button {
    background-color: #fefefe;
    color: white;
    border: none;
    padding: 15px 30px; /* Adjust padding as needed */
    font-size: 20px; /* Adjust font size as needed */
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.button:hover {
    background-color: #bdcee0;
}


